<!DOCTYPE html>
<html lang='zh-cn'>

<head>
  <meta charset="utf-8">
  <title>404 Not Found</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    main {
      height: 100vh;
      line-height: 100vh;
      text-align: center;
      background-color: rgba(0, 0, 0, .5);
      color: #fff;
      font-size: 6vw;
    }
  </style>
</head>

<body>
  <main>
    404 Not Found
  </main>
</body>

</html>